Django
Coffin
Jinja2
# MarkupSafe
django-pagination
django-registration
psycopg2
gunicorn
# jsonlib
networkx
dj-database-url
South
path.py
newrelic
-e git+https://github.com/tkopczuk/django-smartsettings.git#egg=smartsettings
